[features]
seeds = false
[programs.localnet]
staking_factory = "74Gn5o8MXGWuNgApSz7kkfcdWHGpVAcrgs41ZfW1bHbK"

[registry]
url = "https://anchor.projectserum.com"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
